.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #6E828A;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1e577b;
  font-size: 13pt;
  margin-top: 40px;
}

.block {
  background-color: #e3eff3;
  padding: 25px;
  margin: 10px;
}

h2, h3 {
  text-align: center;
  color: #143A52;
}